<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setores - Leito Clean</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabletSetores.css') }}">
</head>
<body>


    <div id="bannerLimpezaAtiva" class="top-notification oculto">
        <div class="notification-content">
            <div class="icon">🧹</div>
            <div class="text">
                <strong>Limpeza em andamento</strong>
                <span id="bannerTexto"></span>
            </div>
        </div>

        <button id="voltarLimpezaBtn" class="btn-notification">
            Abrir
        </button>
    </div>
    
    <div class="container">
        <h1>Selecione um Setor</h1>
        <div id="setoresContainer"></div>
        
    </div>

    <button class="btn-inicio" onclick="window.location.href='/tablet'">Voltar</button>




  

    <script src="{{ url_for('static', filename='js/tabletSetores.js') }}"></script>

</body>
</html>
