<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leitos - Leito Clean</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabletLeitos.css') }}">
</head>
<body>

<div class="container">
    <h1 id="tituloSetor"></h1>
    <div id="leitosContainer" class="leitos-grid"></div>
    <button class="btn-voltar" onclick="window.location.href='/tablet_setores'">Voltar</button>
</div>



      


    <script src="{{ url_for('static', filename='js/tabletLeitos.js') }}"></script>   
    
</body>
</html>
